<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ToDoList · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper light-blue darken-2">
          <a href="/">
            <img height= '65px' src="<%= Routes.static_path(@conn, "/images/phoenix_to_do_logo.png") %>" alt="Phoenix To Do List Logo"/>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <%= if @current_page in ["index", "sign_up"]  do %>
              <li><%= link "Sign in", to: Routes.page_path(@conn, :sign_in) %></li>
            <% else %>
              <li><%= link "My To-Do Lists", to: Routes.page_path(@conn, :lists) %></li>
              <li><%= link "Favorites", to: Routes.page_path(@conn, :sign_in) %></li>
              <li><%= link "Recent Lists", to: Routes.page_path(@conn, :sign_in) %></li>
              <li><%= link "Account", to: Routes.page_path(@conn, :sign_in) %></li>
              <li><%= link "Sign Out", to: Routes.page_path(@conn, :sign_out) %></li>
            <% end %>
            
          </ul>
        </div>
      </nav>
    </div>


    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
